doctype html
html(ng-app='mongodb-gis')
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='https://openlayers.org/en/v3.19.1/css/ol.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js')
    script(src='https://cdn.jsdelivr.net/bluebird/3.4.5/bluebird.min.js')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=', crossorigin='anonymous')
    script(src='https://code.angularjs.org/1.5.8/angular.min.js')
    script(src='https://code.angularjs.org/1.5.8/angular-animate.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.19.1/ol.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/exercises.js')
    script(src='/javascripts/features.js')
    script(src='/javascripts/geo.js')
    script(src='/javascripts/map.js')
    script(src='/javascripts/utils.js')
    if exercises
      each exercise in exercises
        script(src='/javascripts/exercises/' + exercise)
