uib-accordion
  .panel-default(ng-repeat='exercise in ctrl.exercises', uib-accordion-group, heading='{{ exercise.title }} (Exercise {{ exercise.number }})', is-open='ctrl.accordion["ex" + exercise.number]')
    exercise-view(exercise='exercise', is-open='ctrl.accordion["ex" + exercise.number]')
